.metric-analyse-card {
  width: max-content;
  height: 66px;
  box-sizing: border-box;
  background-color: #ebeff3;
  border-radius: 10px;
  padding: 24px 20px;
  transition: all 0.3s ease-out;

  white-space: nowrap;
  display: inline-block;

  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #12344d;
}

.metric-analyse-card:hover {
  cursor: pointer;
  background-color: #bbdcfe;
}

.metric-analyse-card-selected {
  background-color: #2c5cc5;
  color: #ffffff;
}

.metric-analyse-card-selected:hover {
  color: #12344d;
}
